<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <meta charset="UTF-8">
    <title>Training Database - Homepage</title>
</head>
<body>

<nav class="mainnav">
    <a class="active" href="index">Home</a>
    <a href="allCompanies">Companies</a>
    <a href="profile">Profile</a>
    <a href="logout">Log Out</a>
</nav>

<main>
    <h1>Company Record</h1>

    <h3 th:text="'Company name: ' + ${foundCompany.name}"></h3>
</main>
</body>
</html>